.menuArea{
position:absolute;
display:block;
left:0px;
top:0px;
background-color:#abc;
border:1px solid #ccc;
border-radius:5px;
width:600px;
height:500px;
}

.menu{
position:absolute;
z-index:100;
background-color:#ccc;
border:1px solid #abc;
border-radius:5px;
height:200px;
width:100px;
float:left;
left:10px;
top:0px;
}